@model EduMax.Models.Lecture

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@{
    int index = 0;
    int num = 0;
    List<EduMax.Models.Lecture> lectures = (List<EduMax.Models.Lecture>)Session["addLectureForCreatingCourse"];
}

@using (Html.BeginForm("Create", "Lecture", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Lecture</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.LectureName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LectureName, "Lecture Name", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LectureName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="File" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" name="addOneLectureBtn" class="btn btn-default" />
            </div>
        </div>
    </div>
    if (Session["addLectureForCreatingCourse"] == null || lectures.Count == 0)
    {
        <div align="center"><h2>Nothing Added Yet</h2></div>
    }
    else
    {
        <table class="table table-hover" align="center">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>File</th>
                <th></th>
            </tr>
            @foreach (var item in Session["addLectureForCreatingCourse"] as IList<EduMax.Models.Lecture>)
            {
                num = index + 1;
                <tr>     
                    <td>@num</td>
                    <td onclick="ReOrdering(@index)">@item.LectureName</td>
                    <td>@item.File.FileName</td>
                    <th>
                        <a href="/Lecture/Edit/@index">Edit</a> &nbsp;&nbsp;
                        <a href="/Lecture/LectureOrderingUp/@index" class="btn btn-info">↑</a>
                        <a href="/Lecture/LectureOrderingDown/@index" class="btn btn-info">↓</a> &nbsp;
                        <a href="/Lecture/RemoveLectureFromCart/@index" class="btn btn-danger">X</a>
                    </th>
                </tr>
                index++;
            }
            <tr>
                <td align="center"><input type="submit" value="Done" name="createCourseWithLecturesBtn" class="btn btn-default" /></td>
            </tr>
        </table>
    }

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    function ReOrdering(id) {
        alert(id);
    }
</script>
