@model IEnumerable<EduMax.Models.Category>

@{
    ViewBag.Title = "Category List";
}

<div class="container">
    <a href="/Category/CategoryByCourse" class="bg-info"><strong>Category VS Product</strong></a>
</div>

<h2>Category List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryId }) |
            @Html.ActionLink("Change Status", "CategoryStatus", new { id=item.CategoryId })
        </td>
    </tr>
}

</table>
