@model IEnumerable<EduMax.Models.Course>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!--
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        -->    
</head>
<body style="background-image: url('https://i.pinimg.com/originals/fa/4c/9c/fa4c9c3d190ff50c4900abeb26ecf5ea.jpg') ">

    <div class="container">
        <ul>
            <li>
                <a href="/Course/Create" class="navbar-link">Create Course</a>
                <a href="/Lecture/Create" class="navbar-btn">Create Lecture</a>
                @if (Session["user_type"].ToString() == "Admin")
                {
                    <a href="/User/AllUsers" class="navbar-btn">Users</a>
                }
                <a href="/User/EditProfile" class="navbar-link">Edit Profile</a>
                <a href="/Home/LogOut" class="navbar-btn">Log Out</a>
            </li>
        </ul>

        @*<form action="/Course/SearchCourse" method="post" id="searchCourse">
            <div class="input-group">
                <input type="text" name="searchCourse" class="form-control" placeholder="Search..">
                <div class="input-group-append">
                    <button class="btn btn-secondary" form="searchCourse" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>*@

        <form action="/Course/SearchCourse" method="post" id="searchCourse" onsubmit="return checkSearchQuery()">
            <div class="input-group">
                <input type="text" name="searchCourse" value="@ViewBag.courseSearchQuery"
                       id="searchCourseTxt" class="form-control" placeholder="Search..">
                <div class="input-group-append">
                    <input type="submit" class="btn btn-info" name="search" value="Search" />
                </div>
            </div>
        </form>

        <script type="text/javascript" src="~/jsFiles/Course/SearchCourse.js"></script>


        <div class="container" style="background-color: snow">
            <div class="container">
                <div class="container">
                    <br />
                    @foreach (var item in Model)
                    {
                        if (item.Status == "1")
                        {
                            <a href="#" style="text-decoration:none; color:black">
                                <div class="card-deck">
                                    <div class="card mb-4">
                                        @if (item.CoursePhoto != null)
                                        {
                                            <img class="img-thumbnail" src="@Url.Content(item.CoursePhoto)" alt="" height="150" width="200" />
                                        }
                                        <div class="card-body">
                                            <h4 class="card-title text-info" style="color:black">@item.CourseName</h4>
                                            <p style="color:forestgreen">Category: <strong style="color:black">@item.Category.CategoryName</strong></p>
                                            <strong>@item.User.Name <br /></strong>
                                            <p class="text-muted">@item.Date.Day/@item.Date.Month/@item.Date.Year</p>

                                            <a href="#" class="btn btn-primary">See Profile</a>
                                        </div>
                                    </div>
                                    <img class="card-img-bottom" src="img_avatar6.png" alt="Card image" style="width:100%">
                                </div>
                            </a>
                        }

                    }

                    <table class="container">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CourseName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CoursePhoto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CategoryId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UserId)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CourseName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.CoursePhoto)*@
                                    @if (item.CoursePhoto != null)
                                    {
                                        <img src="@Url.Content(item.CoursePhoto)" alt="" height="150" width="200" />
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserId)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.CourseId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>


</body>
</html>