@model IEnumerable<EduMax.Models.Invoice>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

    <div class="container">
        <h2>Invoice</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    Amount
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalAmount)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", "SalesRecord", new { id = item.InvoiceId }, null)
                    </td>
                </tr>
            }

        </table>
    </div>
